/* Root */

:root {
  /* Space */
  --section-width: 390px;
  --section-height: 768px;
  --section-top-padding: 0.5em;
  --section-left-padding: 0.7em;

  /* Fonts */
  --main-font: 'Playfair Display', serif;
  --content-font-formal: 'Cormorant Garamond', serif;
  --content-font-casual: 'proxima-nova', sans-serif;
}

/* Global style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--content-font-casual);
  font-weight: 100;
}

section {
  text-align: center;
  max-width: var(--section-width);
}

img {
  object-fit: cover;
}

/* Header section */
#header {
  height: var(--section-height);
}

#header img {
  position: absolute;
  width: var(--section-width);
  top: 0;
  left: 0;
  zoom: 100%;
  height: var(--section-height);
  transition: opacity 0.6s ease-in;
}

#header img + #header img {
  opacity: 0;
}

#title {
  font-family: var(--content-font-formal);
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.2em;
  padding-left: var(--section-left-padding);
  padding-top: var(--section-top-padding);
  z-index: 1;
}

/* Nav burger menu */

#nav-icon {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px auto;
  margin-right: 2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  zoom: 50%;
  z-index: 2;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #a4441c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.resAddress {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  bottom: -92%;
  margin: auto;
  margin-bottom: 1em;
  color: rgba(222, 221, 221, 0.868);
  font-size: 0.7em;
  letter-spacing: 0.15em;
  font-family: var(--content-font-casual);
}

/* AboutUs-res Section */

.aboutus-res-bedge,
.aboutus-res-des {
  width: var(--section-width);
  height: var(--section-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-res-des {
  padding: 4em;
  background-image: url('./contents/background-white2.jpg');
  font-family: var(--content-font-casual);
  font-size: 0.9em;
  font-weight: 100;
  color: rgb(45, 45, 45);
  letter-spacing: 0.1em;
  line-height: 1.7em;
  text-transform: uppercase;
}

/* Aboutus-cef Section */

.aboutus-cef-des {
  height: var(--section-height);
  display: flex;
  flex-direction: column;
}

.aboutus-cef-des img {
  height: var(--section-height);
}

.aboutus-cef-img img {
  width: var(--section-width);
  height: var(--section-height);
}

.aboutus-cef-des-container {
  width: var(--section-width);
  position: absolute;
  color: white;
  text-align: center;
  margin-top: 7em;
  padding: 2.5em;
}

.aboutus-cef-des-container h3,
p {
  font-family: var(--content-font-casual);
  font-weight: 100;
  text-transform: uppercase;
}

.aboutus-cef-des-container h3 {
  font-size: 1.8em;
  letter-spacing: 0.15em;
  margin-bottom: 2em;
}

.aboutus-cef-des-container p {
  font-size: 0.8em;
  letter-spacing: 0.15em;
  line-height: 2em;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
}

#aboutus-cef {
  font-size: 0.9em;
  text-align: center;
}

#aboutus-cef table {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  width: 100%;
}

#aboutus-cef tr {
  font-family: var(--content-font-casual);
  font-size: 0.9em;
  display: table-row;
  letter-spacing: 0.09em;
  display: flex;
  align-items: center;
  padding: 0.7em;
}

/* Menu Section */
.menu-container {
  height: var(--section-height);
  padding: 3em;
}

.menu-container h3 {
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.menu-container p {
  text-transform: uppercase;
  letter-spacing: 0.13em;
  margin-bottom: 5em;
}

.menu-container button {
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 0.8em 2.5em;
  transition: 300ms ease-in-out;
}

.menu-container button:hover {
  background-color: black;
  color: white;
}

/* Menu Modal window */
.menu-modal-carte {
  width: var(--section-width);
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition-timing-function: ease-out;
  overflow-y: scroll;
  z-index: 2;
}

.menu-modal-set {
  width: var(--section-width);
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}

.menu-modal-closeBtn {
  color: white;
  font-size: 3em;
  margin-top: 0.3em;
  margin-right: 0.3em;
  position: fixed;
  right: 0;
  overflow-y: auto;
}

.active {
  display: inline;
}

.menu-modal-container {
  margin-top: 5em;
}

.menu-modal-carte h3,
.menu-modal-set h3 {
  text-align: center;
  margin-top: 3em;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.13em;
  color: white;
}

.menu-modal-container-sushi {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 5em;
}

.menu-modal-container-sushi img {
  width: 80%;
  height: 18em;
  object-fit: cover;
}

.menu-modal-container-sushi span {
  display: block;
  margin-top: 0.5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Reservation Section */

#reservation {
  width: var(--section-width);
}

.slider,
.slider .imgs {
  width: 100%;
  height: var(--section-height);
  position: relative;
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
}

.slider .img:nth-of-type(1) {
  background: url('./contents/slide_image_1.jpg');
}
.slider .img:nth-of-type(2) {
  background: url('./contents/slide_image_2.jpg');
}
.slider .img:nth-of-type(3) {
  background: url('./contents/slide_image_3.jpg');
}
.slider .img:nth-of-type(4) {
  background: url('./contents/slide_image_4.jpg');
}

.dots {
  position: relative;
  bottom: 1.5em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.active-dot {
  background: #3f3f3f;
  cursor: default;
}

@keyframes leftNext {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes leftCurr {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes rightNext {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes rightCurr {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.reservation-form {
  width: var(--section-width);
  height: var(--section-height);
  background-image: url('./contents/reservation_background.jpg');
  background-size: cover;
  color: white;
  padding: 5em 3em;
}

.reservation-form h3 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 1.5em;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
}

.reservation-form input {
  height: 3.5em;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  margin-bottom: 1.3em;
  padding: 1em;
  transition: border 200ms ease-in;
}

.reservation-form input:focus {
  border: 1px #a4441c solid;
}

.reservation-form input::placeholder {
  color: rgb(185, 185, 185);
}

.reservation-form input:-ms-input-placeholder {
  color: rgb(185, 185, 185);
}

.reservation-form input::-ms-input-placeholder {
  color: rgb(185, 185, 185);
}

.reservation-form-message {
  height: 7em;
}

.reservation-form p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  letter-spacing: 0.15em;
}

.reservation-form p input {
  margin: 0;
  margin-right: 1em;
}

.reservation-form button {
  background-color: #a4441c;
  color: white;
  outline: none;
  border: none;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Contact Section */

#contact {
  height: var(--section-height);
  background-image: url('./contents/contact_background.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container h3 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 2em;
  font-size: 2em;
}

.contact-container p {
  margin-bottom: 1em;
}

.contact-container a {
  font-size: 1.8em;
  color: black;
  padding: 0.5em;
}

.contact-container a:visited {
  color: black;
}

/* Nav */

.social-links {
  text-align: center;
  position: relative;
  top: 130px;
}

.line-betwen {
  width: 15%;
  height: 3px;
  background-color: #a4441c;
  position: relative;
  left: 42.5%;
  top: 80px;
}

.social-list li {
  display: inline;
  text-align: center;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.social-list a {
  color: #fff;
}

.social-list a:hover {
  color: #a4441c;
}
.nav {
  position: relative;
  width: auto;
  display: inline-block;
  border: none;
}

.btn-nav {
  position: fixed;
  top: 30px;
  left: 30px;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: #a4441c;
}

.btn-nav:hover .icon-bar {
  background-color: #a4441c;
}

.nav-content {
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  height: 100%;
}

.below-line {
  width: 15%;
  height: 3px;
  background-color: #a4441c;
  position: relative;
  left: 42.5%;
  top: 40px;
}

.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  top: 10%;
}

.item-anchor:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: transparent;
}

.item-anchor {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.5em;
}

.item-anchor:hover,
.item-anchor:focus {
  color: #a4441c;
}

.item-anchor:hover:after,
.item-anchor:focus:after {
  width: 100%;
  background: #a4441c;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-item {
  margin: 40px auto;
  text-align: center;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar {
  background-color: #a4441c;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color: #a4441c;
}

.animated .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-o-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.showNav {
  -webkit-animation: showNav 1s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav 1s ease forwards;
}

@keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.hidden {
  display: none;
}
